/*主题颜色*/
@mainColor: #ff8dac;
@auxColor: #ffc5d1;

/*字体大小基本尺寸*/

/*常用样式*/
.font-dpr(@font-size) {
  font-size: @font-size;

  [data-dpr="2"] & {
    font-size: @font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: @font-size * 3;
  }
}

.over-ellip {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
}

.background-url(@url) {
  background-image: url(@url);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.img-spread {
  & > img {
    width: 100%;
    height: 100%;
  }
}
