/*主题颜色*/
@mainColor: #ff8dac;

/*字体大小基本尺寸*/

/*常用样式*/
.font-dpr(@font-size) {
  font-size: @font-size;

  [data-dpr="2"]&{
    font-size: @font-size * 2;
  }

  [data-dpr="3"]&{
    font-size: @font-size * 3;
  }
}
